openapi:
  apartment:
    base-url: http://openapi.molit.go.kr
    data-url: OpenAPI_ToolInstallPackage/service/rest/RTMSOBJSvc/getRTMSDataSvcAptTradeDev
    service-key: YkTAT8Fccc8Lq60Z3GROGXrqtxUErRqJRUP0T1tZe1LE2dRMkkOwDZr7Zi5zhNiDI%2B1T6VXBj9c2LRNKeJvVFQ%3D%3D


app:
  jwt:
    secret: DaeguGreenArtAcadenyClass502RoomForJavaSpringBootFighting
    header-scheme-name: authorization
    token-type: Bearer
    access-token-expiry: 7200000
    refresh-token-expiry: 1296000000

file:
  dir: D:/download/greengram4/

spring:
  servlet:
    multipart:
      max-file-size: 5MB
      max-request-size: 15MB
  datasource:
    #driver-class-name: org.mariadb.jdbc.Driver
    url: jdbc:log4jdbc:mariadb://localhost:3306/greengram4
    username: root
    password: green502
    driver-class-name: net.sf.log4jdbc.sql.jdbcapi.DriverSpy

mybatis:
  mapper-locations: mappers/**/*.xml

springdoc:
  swagger-ui:
    path: /swagger.html

server:
  port: 8080


fcm:
  certification: serviceAccountKey.json

logging:
  level:
    jdbc:
      sqlonly: off
      sqltiming: info
      resultsettable: info
      audit: off
      resultset: off
      connection: off

---

spring:
  config:
    activate:
      on-profile: "prod1"
  datasource:
    url: jdbc:mariadb://192.168.0.144:5224/preschool
    username: even_last_4
    password: keystone

file:
  dir: /home/download

server:
  port: 8081

---

spring:
  config:
    activate:
      on-profile: "prod2"
  datasource:
    url: jdbc:mariadb://192.168.0.144:5224/preschool
    password: keystone

file:
  dir: /home/download

server:
  port: 8082